@use "./variables.scss" as *;

body {
  background-color: $couleur-fond;
  font-family: $police-principale;
}

/* --- Styles globaux APP.JSX--- */
.disposition {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.contenu {
  flex: 1;
  max-width: $point-rupture-xxl;
  margin: 0 auto;
  padding: 0 10px;

  @media (max-width: 1240px) {
    padding: 0;
  }
}

/* --- Styles de l'entête Entete.JSX --- */

.en-tete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $largeur-xxl;
  margin: $espacement-l auto;
  margin-bottom: $espacement-l;
  height: 68px;

  @media (max-width: $point-rupture-xl) {
    padding: 0 $espacement-s;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    height: 68px;

    @media (max-width: $point-rupture-xl) {
      max-height: 50px;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    font-size: $taille-police-l;
    font-weight: $poids-police-moyen;
    font-family: $police-principale;
    color: $couleur-pure-inversee;
    text-decoration: none;

    @media (max-width: $point-rupture-xl) {
      font-size: $taille-police-s;
    }

    &:hover {
      color: $couleur-pure-inversee;
    }

    &:active,
    &.active {
      color: $couleur-pure-inversee;
      text-decoration: underline;
    }

    &:focus {
      color: $couleur-pure-inversee;
      outline: none;
    }
  }

  @media (max-width: $point-rupture-xl) {
    gap: 20px;
  }
}

/* --- Styles pour la bannière Banniere?jsx --- */
.banniere {
  display: flex;
  position: relative;
  height: 223px;
  width: 100%;
  border-radius: $rayon-bordure-xxl;
  overflow: hidden;
  background: $couleur-pure-inversee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 43px;
  box-shadow: $ombre-boite-m;

  &__contenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $couleur-fond-inverse;
    opacity: 0.6;
  }

  &__titre {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: $taille-police-xxxl;
    color: $couleur-texte-inverse;
    text-align: center;
    filter: drop-shadow(0 0 8px $couleur-texte);

    @media (max-width: $point-rupture-m) {
      font-size: $taille-police-xl;
      left: 20px;
      transform: translateY(-50%);
      text-align: left;
    }
  }

  &.banniereapropos {
    .banniere__contenu {
      background-color: transparent;
      opacity: 1;
    }
  }

  @media (max-width: $point-rupture-xl) {
    height: 180px;
  }

  @media (max-width: $point-rupture-m) {
    height: 111px;
    border-radius: $rayon-bordure-m;
  }
}
/* --- Styles pour les cartes Carte.jsx --- */
.carte {
  position: relative;
  border-radius: $rayon-bordure-m;
  overflow: hidden;
  transition: transform $duree-transition, box-shadow $duree-transition;

  &:hover {
    transform: scale(1.05);
    box-shadow: $ombre-boite-l;
  }

  img {
    width: 100%;
    height: 340px;
    object-fit: cover;

    @media (max-width: $point-rupture-m) {
      height: 255px;
    }
  }

  h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: $couleur-secondaire;
    max-width: 38%;
    line-height: 1.4;
    white-space: normal;
    z-index: 2;

    @media (max-width: $point-rupture-m) {
      font-size: $taille-police-s;
      left: 16px;
      right: 16px;
    }
  }
}

.degrade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 42%,
    rgba(4, 4, 4, 0.205) 99.99%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 1;
}

.cartes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 25px;
  background-color: $couleur-secondaire;
  gap: 30px;
  padding: 20px;
  margin-bottom: 30px;

  @media (max-width: $point-rupture-l) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $point-rupture-m) {
    grid-template-columns: 1fr;
  }
}

/* --- Styles pour le pied de page Pieddepage.jsx--- */
.pied-de-page {
  font-family: $police-principale;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $couleur-fond-inverse;
  width: 100%;
  height: auto;
  padding: 20px 0;

  &__logo {
    display: flex;
    width: 122px;
    margin-bottom: 50px;
  }

  &__copyright {
    color: $couleur-texte-inverse;
    text-align: center;

    .copyright-part1,
    .copyright-part2 {
      display: inline;
    }

    @media (max-width: 768px) {
      .copyright-part1,
      .copyright-part2 {
        display: block;
      }
    }
  }
}

/* --- Styles pour la Page 404 Erreur.jsx --- */

.erreur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  min-height: 50vh;

  @media (max-width: $point-rupture-m) {
    gap: 50px;
    min-height: 60vh;
  }

  &__titre {
    font-size: 280px;
    color: $couleur-primaire;

    @media (max-width: $point-rupture-m) {
      font-size: 8rem;
    }
  }

  &__texte {
    font-size: 36px;
    color: $couleur-primaire;
    text-align: center;
    font-weight: $poids-police-moyen;

    @media (max-width: $point-rupture-m) {
      font-size: $taille-police-m;
    }
  }

  &__lien {
    text-align: center;
    font-weight: $poids-police-normal;
    text-decoration: none;

    &:visited {
      color: $couleur-texte;
    }

    &:hover {
      color: $couleur-texte;
    }

    &:active {
      color: $couleur-texte;
    }
  }
}

/* --- Styles pour la Collpase --- */

.collapse {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  height: auto;
  @media (max-width: 769px) {
    margin-bottom: 15px;
  }

  &__entete {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $couleur-pure-inversee;
    background: $couleur-primaire;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    @media (max-width: 769px) {
      font-size: 16px;
    }
    h2 {
      margin: 10px;
      font-size: 1.2rem;
      color: $couleur-pure;
    }
    .fleche {
      position: absolute;
      right: 20px;
      transition: all 0.35s;
    }

    .fleche.ouvert {
      transform: rotate(180deg);
    }
  }

  &__contenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 20px;
    background-color: $couleur-secondaire;
    border-radius: 10px;

    &.visible {
      max-height: 1000px;
      padding: 1rem;
    }
  }
  @media (max-width: 769px) {
    width: 100%;
  }
}
.collapse__contenu ul {
  list-style: none;
  padding: 0;
}

.collapse__contenu li {
  margin-bottom: 5px;
}

/* --- Styles pour la page Logement Logement.jsx --- */

.logement {
  max-width: $point-rupture-xl;
  margin: 0 auto;
  padding: 20px;

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__entete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 60%;

    h1 {
      font-size: $taille-police-xxl;
      margin-bottom: 0.5rem;
      color: $couleur-primaire;
      font-weight: $poids-police-moyen;
    }

    p {
      font-size: $taille-police-m;
      color: $couleur-texte;
      margin-bottom: 1rem;
    }

    @media (max-width: 769px) {
      width: 100%;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    gap: 10px;

    .tag {
      background-color: $couleur-primaire;
      color: $couleur-pure;
      font-size: $taille-police-xs;
      padding: 0.25rem 1.5rem;
      border-radius: 90px;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;

      @media (max-width: 767px) {
        font-size: $taille-police-xs;
        padding: 0.2rem 1rem;
      }
    }
  }

  &__hote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    @media (max-width: 769px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      margin-top: -1rem;
    }

    .hote__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;

        @media (max-width: 769px) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      .hote__info-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        p {
          font-size: $taille-police-m;
          font-weight: $poids-police-moyen;
          color: $couleur-primaire;
          margin: 0;

          @media (max-width: 769px) {
            font-size: $taille-police-xs;
          }
        }
      }
    }

    &__note {
      display: flex;
      align-items: center;
      gap: 5px;

      @media (max-width: 769px) {
        flex-direction: row;
      }
    }
  }

  &__collapse {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 20px;

    > .collapse {
      flex: 1;
      width: 50%;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      > .collapse {
        width: 100%;
      }
    }
  }
}

.equipements__liste {
  padding-left: 0;
  color: $couleur-texte li {
    margin-bottom: 0.5rem;
    font-size: $taille-police-s;
  }
}

/* --- Styles pour les étoiles --- */
.etoiles {
  display: flex;
  gap: 5px;

  img {
    width: 36px;
    height: auto;
    @media (max-width: 769px) {
      width: 24px;
    }
  }
}
/* --- Styles pour le Diaporama --- */
.diaporama {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    border-radius: $rayon-bordure-m;
    object-fit: cover;
  }

  &__controles {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);

    .diaporama__fleche {
      cursor: pointer;
      width: 76px;
      height: 86px;
      margin: 0 20px;
    }
  }

  &__compteur {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    color: $couleur-pure;
    font-size: $taille-police-m;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
.zone-chargement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  color: $couleur-primaire;
  font-size: $taille-police-m;
}

.chargement {
  border: 4px solid $couleur-secondaire;
  border-top: 4px solid $couleur-primaire;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: rotation 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
