@use "./variables.scss" as *;

/* --- Réinitialisation CSS --- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
pied-de-page,
en-tete,
hgroup,
menu,
nav,
output,
ruby,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
pied-de-page,
en-tete,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

body {
  background-color: $couleur-fond;
  font-family: $police-principale;
}

/* --- Styles globaux APP.JSX--- */
.disposition {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.contenu {
  flex: 1;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;

  
  @media (max-width: 1240px) {
    padding: 0;
  }
}

/* --- Styles de l'entête Entete.JSX --- */

.en-tete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $largeur-xl;
  margin: $espacement-l auto;
  margin-bottom: $espacement-l;
  height: 68px;
  padding: 0 20px;

  @media (max-width: $point-rupture-xl) {
    padding: 0 $espacement-s;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    height: 68px;

    @media (max-width: $point-rupture-xl) {
      max-height: 50px;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;

  a {
    font-size: $taille-police-l;
    font-weight: $poids-police-moyen;
    font-family: $police-principale;
    color: $couleur-pure-inversee;
    text-decoration: none;

    @media (max-width: $point-rupture-xl) {
      font-size: $taille-police-s;
    }

    &:hover {
      color: $couleur-pure-inversee;
    }

    &:active,
    &.active {
      color: $couleur-pure-inversee;
      text-decoration: underline;
    }

    &:focus {
      color: $couleur-pure-inversee;
      outline: none;
    }
  }

  @media (max-width: $point-rupture-xl) {
    gap: 20px;
  }
}

/* --- Styles pour la bannière Banniere?jsx --- */
.banniere {
  display: flex;
  position: relative;
  height: 223px;
  width: 100%;
  border-radius: $rayon-bordure-xxl;
  overflow: hidden;
  background: $couleur-pure-inversee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 43px;
  box-shadow: $ombre-boite-m;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
  }

  &__titre {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: $taille-police-xxxl;
    color: $couleur-texte-inverse;
    filter: drop-shadow(0 0 8px $couleur-texte);

    @media (max-width: $point-rupture-m) {
      left: 38%;
      font-size: $taille-police-l;
    }
  }

  @media (max-width: $point-rupture-xl) {
    height: 180px;
  }

  @media (max-width: $point-rupture-m) {
    height: 111px;
    border-radius: $rayon-bordure-m;
  }
}

/* --- Styles pour les cartes Carte.jsx --- */
.carte {
  position: relative; 
  border-radius: $rayon-bordure-m;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%; 

  img {
    width: 100%;
    height: 340px; 
    object-fit: cover;
  }

  h2 {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: $couleur-secondaire; 
    font-size: $taille-police-m;
    padding: 5px 10px; 
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.cartes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 25px;
  background-color: $couleur-secondaire;
  gap: 30px;
  padding: 20px;
  max-width: $largeur-xxl;
  margin: 0 auto;
  

  @media (max-width: $point-rupture-l) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $point-rupture-m) {
    grid-template-columns: 1fr;
  }
}

/* --- Styles pour le pied de page Pieddepage.jsx--- */
.pied-de-page {
  font-family: $police-principale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $couleur-fond-inverse;
  width: 100%;
  padding: 20px 0; /* Ajoutez un padding pour éviter que le contenu ne touche les bords */
  box-sizing: border-box;
  margin-top: auto; /* Assure que le pied de page est en bas */

  &__logo {
    display: flex;
    width: 122px;
    margin-bottom: 50px;
  }

  &__copyright {
    display: flex;
    color: $couleur-texte-inverse;
  }
}

/* --- Styles pour la Page 404 Erreur.jsx --- */

.erreur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  min-height: 50vh;

  @media (max-width: $point-rupture-m) {
    gap: 50px;
    min-height: 60vh;
  }

  &__titre {
    font-size: 280px;
    color: $couleur-primaire;

    @media (max-width: $point-rupture-m) {
      font-size: 8rem;
    }
  }

  &__texte {
    font-size: 36px;
    color: $couleur-primaire;
    text-align: center;
    font-weight: $poids-police-moyen;

    @media (max-width: $point-rupture-m) {
      font-size: $taille-police-m;
    }
  }

  &__lien {
    text-align: center;
    font-weight: $poids-police-normal;
  }
}

/* --- Styles pour la Collpase --- */

.collapse {
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: $couleur-secondaire;

  &__entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $couleur-primaire;
    cursor: pointer;
    min-height: 52px;
    width: 100%;

    h2 {
      margin: 10px;
      font-size: 1.2rem;
      color: $couleur-pure;
    }

    .fleche {
      transition: transform 0.3s;
      margin: 10px;
    }

    .fleche.ouvert {
      transform: rotate(180deg);
    }
  }

  &__contenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 1rem;

    &.visible {
      max-height: 500px; // Ajustez selon le contenu
      padding: 1rem;
    }
  }
}

/* --- Styles pour la page Logement Logement.jsx --- */

.logement {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__entete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    h1 {
      font-size: $taille-police-xxl;
      margin-bottom: $espacement-s;
      color: $couleur-primaire;
    }

    p {
      font-size: $taille-police-s;
      color: $couleur-pure-inversee;
      margin-bottom: $espacement-s;
    }

    .tag {
      background-color: $couleur-primaire;
      border-radius: 25px;
      padding: 6px 16px;
      font-size: 14px;
      font-weight: 600;
      color: $couleur-pure;
      margin-top: 10px;
      margin-right: 10px;
      display: inline-block;

      @media (max-width: 769px) {
        font-size: $taille-police-xs;
      }
    }
  }

  &__hote {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 20px;
    
    @media (max-width: 769px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 15px;
      margin-top: 15px;
    }
    
    
    .hote__info {
      display: flex; 
      flex-direction: column;
      align-items: flex-start;
      gap: 10px; 

      @media (max-width: 769px) {
        font-size: $taille-police-xs;
      }

      p {
        font-size: $taille-police-m;
        font-weight: $poids-police-moyen;
        color: $couleur-primaire;      
      }

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        @media (max-width: 769px) {
            width: 40px;
            height: 40px;
      }
    }
    @media (max-width: 769px){
      gap: 10px;
  }
    }

    &__note {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 10px;
      @media (max-width: 769px) {
        flex-direction: row;
    }
  }
}

  &__collapse {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    
    > .collapse {
      flex: 1;
      width: 50%;
    }
    
    @media (max-width: 768px) { 
      flex-direction: column;
      
      > .collapse {
        width: 100%;
      }
    }
  }
}
.equipements__liste {
  padding-left: 0;
  list-style-type: none;
  color: $couleur-texte;

  li {
    margin-bottom: 5px;
    font-size: $taille-police-m;
    color: $couleur-texte;
  }
}
/* --- Styles pour le Diaporama --- */
.diaporama {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__controles {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);

    .diaporama__fleche {
      cursor: pointer;
      width: 30px; /* Ajustez la taille selon vos besoins */
      height: 30px;
    }
  }

  &__compteur {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

/* --- Styles pour les étoiles --- */
.etoiles {
  display: flex;
  gap: 5px;

  img {
    width: 36px;
    height: auto;
    @media (max-width: 769px) {
      width: 24px;
    }
  }
}
