.gallery-container {
  background-color: #f6f6f6; // Ajoute un fond de couleur #F6F6F6
  padding: 2rem;
  border-radius: 15px;
}

.gallery {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 60px;
  padding: 50px;
  min-height: 200px;
  background: #f6f6f6; // Utilisez votre couleur secondaire
  border-radius: 15px; // Utilisez votre valeur de bord arrondi

  @media (max-width: 769px) {
    width: 100%;
    flex-direction: column;
    gap: 22px;
    padding: 0;
    background: none;
    overflow: visible;
  }
}
