.thumb {
  display: flex;
  flex: 0 1 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  border-radius: 15px; // Utilisez votre valeur de bord arrondi
  aspect-ratio: 1/1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Utilisez votre valeur d'ombre
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @media (max-width: 1024px) {
    flex: 0 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
    aspect-ratio: initial;
  }

  @media (max-width: 769px) {
    flex: 0 1 calc(100%);
    max-width: calc(100%);
    max-height: 340px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 50px;
    left: 25px;
    color: #ffffff; // Utilisez votre couleur de texte inversée
    font-weight: 700; // Utilisez votre valeur de poids de police
    font-size: 1.2rem; // Utilisez votre valeur de taille de police
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
  }
}
